If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
def mults_3_5(n): return [x for x in xrange(1,n) if (x % 3 == 0) | (x % 5 == 0)]

In [2]:
sum(mults_3_5(1000))

233168

In [3]:
a = {n:sum(mults_3_5(n)) for n in [10**x for x in range(8)]}

In [4]:
a

{1: 0,
 10: 23,
 100: 2318,
 1000: 233168,
 10000: 23331668,
 100000: 2333316668L,
 1000000: 233333166668L,
 10000000: 23333331666668L}